.box_filter {
  border: 2px solid #5a5a5a;
  background: #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px 38px;
}

.hover_responsavel {
	position:relative;
}

.tooltip_reps {
	background: #1f284b;
	height:100%;
	width:100%;
	position:absolute;
	padding: 1px 9px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;
	z-index: 5;
	font-size:13px;
	color: #f8f8f8;
}